*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: inherit;
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  margin: 0;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
